.deal-menu-inner {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 699px) {
  .deal-menu {
    width: 250px;
  }
  .deal-menu-inner {
    display: unset !important;
    justify-content: space-between;
  }
}

.menu-deals li:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--secondary);
}
